<section *ngIf="pendingUsers.length > 0">
    <h3 class="heading-center">Неодобрени акаунти</h3>

    <div class="app-table">
        <div class="table-row-head row">
            <div class="table-entry-head col-md-2">Потребителско име</div>
            <div class="table-entry-head col-md-2">Име</div>
            <div class="table-entry-head col-md-2">Фамилия</div>
            <div class="table-entry-head col-md-2">Email</div>
            <div class="table-entry-head col-md-2">Роля</div>
            <div class="table-entry-head col-md-2">Действия</div>
        </div>
        <div class="table-row row" *ngFor="let user of pendingUsers;">
            <div class="table-entry col-md-2">
                <div>{{ user.username }}</div>
            </div>
            <div class="table-entry col-md-2">
                <div>{{ user.firstName }}</div>
            </div>
            <div class="table-entry col-md-2">
                <div>{{ user.lastName }}</div>
            </div>
            <div class="table-entry col-md-2">
                <div>{{ user.email}}</div>
            </div>
            <div class="table-entry col-md-2">
                <div>{{ user.roleName}}</div>
            </div>
            <div class="table-entry col-md-2">
                <div class="table-btns">
                    <button type="button" (click)="onApprove(user.id)" class="btn btn-success">Одобри</button>
                    <button type="button" (click)="onReject(user.id)" class="btn btn-danger">Отхвърли</button>
                </div>
            </div>
        </div>
    </div>
</section>

<section *ngIf="pendingUsers.length === 0">
    <h3 class="heading-center">Няма неодобрени акаунти</h3>
</section>