.table-row {
    margin-bottom: 1.5rem;
}

.table-entry {
    height: 7rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-entry:last-of-type {
    padding: 0.7rem;
}

.table-entry-head {
    display: flex;
    height: 3rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.table-btns {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.app-table {
    margin-top: 3rem;
}