<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Име</th>
            <th scope="col">Код</th>
            <th scope="col">Действия</th>
        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let subject of subjects">
            <th scope="row">{{subject.id}}</th>
            <td>{{subject.name}}</td>
            <td>{{subject.code}}</td>
            <td>
                <div class="buttons-row">
                    <button class="btn btn-primary me-2" [routerLink]="['../', 'edit', subject.id]">Промени</button>
                    <button class="btn btn-danger" (click)="onDelete(subject.id)">Изтрий</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>