<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="table-col">Понеделник</th>
            <th scope="col" class="table-col">Вторник</th>
            <th scope="col" class="table-col">Сряда</th>
            <th scope="col" class="table-col">Четвъртък</th>
            <th scope="col" class="table-col">Петък</th>
        </tr>
    </thead>
    <tbody>
        <tr class="content-row" *ngFor="let row of data; let i = index">
            <td class="table-entry" *ngFor="let entry of data[i]">
                <div class="table-entry-container">
                    <div class="table-entry-filled">
                        {{entry.name}}
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table>