<!-- <table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="table-col">Понеделник</th>
            <th scope="col" class="table-col">Вторник</th>
            <th scope="col" class="table-col">Сряда</th>
            <th scope="col" class="table-col">Четвъртък</th>
            <th scope="col" class="table-col">Петък</th>
        </tr>
    </thead>
    <tbody>
        <tr class="content-row" *ngFor="let row of data; let i = index">
            <td class="table-entry" *ngFor="let entry of data[i]">
                <div class="table-entry-container">
                    <div class="table-entry-filled">
                        {{entry?.name}}
                        {{entry?.from}} {{entry ? '-' : ''}} {{entry?.to | hour}}
                    </div>
                </div>
            </td>
        </tr>
    </tbody>
</table> -->


<div class="app-table">
    <div class="table-col" *ngFor="let day of daysOfWeek; let col = index">
        <div class="table-entry-head">{{day | translate}}</div>
        <div class="table-entry" *ngFor="let entry of data[col]; let row = index">
            <div>
                <div *ngIf="data[col][row]">
                        <p>{{data[col][row].name}}</p>
                        <p>
                            {{data[col][row]?.from}} {{data[col][row] ? '-' : ''}} {{data[col][row]?.to | hour}}
                        </p>
                        <p>{{data[col][row].teacher?.firstName}} {{data[col][row].teacher?.lastName}}</p>
                </div>
            </div>
        </div>
    </div>
</div>