<div class="app-card">
    <div class="app-card-content">
        <p class="app-card-name">Предмет</p>
        <div class="buttons">
            <button class="btn btn-outline-success" [routerLink]="['/', 'subjects', 'add']">
                Добави
            </button>
            <button class="btn btn-outline-primary" [routerLink]="['/', 'subjects', 'all']">
                Виж всички
            </button>
        </div>
    </div>
</div>

<div class="app-card">
    <div class="app-card-content">
        <p class="app-card-name">Клас</p>
        <div class="buttons">
            <button class="btn btn-outline-success" [routerLink]="['/', 'classes', 'add']">
                Добави
            </button>
            <button class="btn btn-outline-primary" [routerLink]="['/', 'classes', 'all']">
                Виж всички
            </button>
        </div>
    </div>
</div>

<div class="app-card">
    <div class="app-card-content">
        <p class="app-card-name">Час</p>
        <div class="buttons">
            <button class="btn btn-outline-success" [routerLink]="['/', 'lessons', 'add']">
                Добави
            </button>
            <button class="btn btn-outline-primary" [routerLink]="['/', 'lessons', 'all']">
                Виж всички
            </button>
        </div>
    </div>
</div>