table {
    height: 100%;
    width: 100%;
}

.table-col {
    width: 19%;
    text-align: center;
}

.table-col-small {
    width: 5%;
}

.content-row {
    height: 10rem;
}

.table-entry {
    border: 1px solid gray;
    height: 100%;
}

.table-entry-small {
    max-width: 10px;
}

.bi-plus-circle-dotted {
    width: 3rem;
    height: 100%;
    cursor: pointer;
}

.table-entry-container {  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-entry-filled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-input-group {
    margin-bottom: 1rem;
}

.buttons {
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-bottom: 2rem;
}

.buttons .input-group {
    max-width: 20rem;
}

.buttons button {
    height: min-content;
}

.buttons-item button:not(:last-of-type) {
    margin-right: 1rem;
}

.small-buttons {
    width: 80%
}

.table-entry-head {
    font-weight: 700;
    margin-bottom: 1rem;
}

.table-entry {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15rem;
}

.app-table {
    display: flex;
}

@media only screen and (max-width: 768px) {
    .app-table {
        flex-direction: column;
    }

    .table-col {
        width: 100%;
        margin-bottom: 4rem;
    }

    .table-col:not(:first-of-type) {
        border-top: 1px solid black;
    }

    .buttons {
        justify-content: space-evenly;
    }
}