table {
    height: 100%;
}

.table-col {
    width: 19%;
    text-align: center;
}

.table-col-small {
    width: 5%;
}

.content-row {
    height: 10rem;
}

.table-entry {
    border: 1px solid gray;
    height: 100%;
}

.bi-plus-circle-dotted {
    width: 3rem;
    height: 100%;
    cursor: pointer;
}

.table-entry-container {  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-entry-filled {
    
}
