<section *ngIf="current && next && !lastLessonEnded">
    <h3 class="heading-center">Моите часове</h3>

    <section class="app-card-container">
        <div class="app-card">
            <div class="app-card-content">
                <p class="app-card-name">{{current?.name}}</p>
                <p>{{current?.code}}</p>
                <p>{{current?.from | hour}} - {{current?.to | hour}}</p>
                <div class="buttons">
                    <button class="btn btn-outline-success">Влез в Google Meet</button>
                    <button class="btn btn-outline-primary">Копирай кода</button>
                </div>
            </div>
        </div>

        <div class="app-card">
            <div class="app-card-content">
                <p class="app-card-name">{{next?.name}}</p>
                <p>{{next?.code}}</p>
                <p>{{next?.from | hour}} - {{next?.to | hour}}</p>
                <div class="buttons">
                    <button class="btn btn-outline-success">Влез в Google Meet</button>
                    <button class="btn btn-outline-primary">Копирай кода</button>
                </div>
            </div>
        </div>
    </section>
</section>

<section *ngIf="lastLessonEnded">
    <h3 class="heading-center">Няма повече часове за деня</h3>
</section>

<section *ngIf="current && !next && !lastLessonEnded">
    <h3 class="heading-center">waiting for lesson</h3>
</section>