<form #registerForm="ngForm" (ngSubmit)="onSubmit()" class="app-form">
    <section class="form-roles">
        <h3 class="role-heading text-center">
            Аз съм
        </h3>

        <div class="role-type">
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                    (change)="onSelect('student')" checked>
                <label class="form-check-label" for="flexRadioDefault1">
                    Ученик
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2"
                    (change)="onSelect('teacher')">
                <label class="form-check-label" for="flexRadioDefault2">
                    Учител
                </label>
            </div>
        </div>
    </section>

    <section class="form-fields">
        <div class="form-group">
            <label for="username">Потребителско име *</label>
            <input type="text" id="username" name="username" class="form-control" ngModel required>
        </div>

        <div class="form-group">
            <label for="password">Парола *</label>
            <input type="password" id="password" name="password" class="form-control" ngModel required>
        </div>

        <div class="form-group">
            <label for="rePassword">Потвърди парола *</label>
            <input type="password" id="rePassword" name="rePassword" class="form-control" ngModel required>
        </div>

        <div class="form-group">
            <label for="firstName">Име *</label>
            <input type="text" id="firstName" name="firstName" class="form-control" ngModel required>
        </div>

        <div class="form-group">
            <label for="lastName">Фамилия *</label>
            <input type="text" id="lastName" name="lastName" class="form-control" ngModel required>
        </div>

        <div class="form-group">
            <label for="email">Имейл *</label>
            <input type="text" id="email" name="email" class="form-control" ngModel required>
        </div>

        <div class="form-group">
            <label for="userSpecific">{{role === 'teacher' ? 'Предмет *' : 'Клас *'}}</label>
            <ng-autocomplete [data]="data" (inputChanged)='onChangeSearch($event)' [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate" id="userSpecific" name="userSpecific" ngModel>
            </ng-autocomplete>
        </div>
    </section>


    <section class="alert alert-danger" *ngIf="errorMessage">
        {{errorMessage}}
    </section>

    <section class="form-buttons">
        <button type="submit" class="btn btn-success">Регистрация</button>
        <button type="button" class="btn btn-danger" (click)="utilityService.resetForm(registerForm)">
            Изчисти полетата
        </button>
    </section>
</form>

<ng-template #itemTemplate let-item>
    <a [innerHTML]="item"></a>
</ng-template>

<ng-template #notFoundTemplate let-notFound>
    <div>Няма резултати</div>
</ng-template>