<nav class="navbar navbar-expand navbar-light bg-info">
    <a routerLink="/" class="navbar-brand">The Curious Readers</a>
    <div class="navbar-nav mr-auto">
        <li class="nav-item">
            <a routerLink="/" class="nav-link">Publishers</a>
        </li>
        <li class="nav-item">
            <a routerLink="/" class="nav-link">Authors</a>
        </li>
    </div>

    <div class="nav navbar-nav navbar-right">
        <a routerLink="/login" class="nav-link">Login</a>
        <a routerLink="/register" class="nav-link">Register</a>
    </div>
</nav>