<nav class="navbar navbar-expand navbar-light bg-info">
    <a routerLink="/" class="navbar-brand">The Curious Readers</a>
    <div class="navbar-nav mr-auto">
        <li class="nav-item">
            <a [routerLink]="['/', 'subjects', 'add']" class="nav-link">Добави предмет</a>
        </li>
        <li class="nav-item">
            <a [routerLink]="['/', 'classes', 'add']" class="nav-link">Добави клас</a>
        </li>
    </div>

    <div class="nav navbar-nav navbar-right">
        <a routerLink="/login" class="nav-link">Вход</a>
        <a routerLink="/register" class="nav-link">Регистрация</a>
    </div>
</nav>