* {
    box-sizing: border-box;
}

.form-fields {
    margin-bottom: 2rem;
}

.form-fields .form-group {
    margin-top: 2rem;
}

.form-buttons {
    text-align: center;
}

.form-buttons .btn {
    width: 18rem;
    margin: 1rem;
}

.heading-center {
    text-align: center;
}

.table-entry {
    border: 1px solid gray;
    height: 100%;
}

.table-entry-small {
    max-width: 10px;
}

.table-entry-head {
    font-weight: 700;
    margin-bottom: 1rem;
}

.bi-plus-circle-dotted {
    width: 3rem;
    height: 100%;
    cursor: pointer;
}

.table-entry-container {  
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table-entry-filled {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.error-paragraph {
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}