* {
    box-sizing: border-box;
}

.form-fields {
    margin-bottom: 2rem;
}

.form-fields .form-group {
    margin-top: 2rem;
}

.form-buttons {
    text-align: center;
}

.form-buttons .btn {
    width: 18rem;
    margin: 1rem;
}

.form-error {
    margin-top: -1rem;
    color: red;
}

input.ng-invalid.ng-touched {
    border: 1px solid red;
}